:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-secondary-cyan-100: hsla(180, 62%, 55%, 0.15);
  --clr-secondary-cyan-200: hsla(180, 62%, 55%, 0.2);
  --clr-secondary-red-100: hsla(0, 78%, 62%, 0.15);
  --clr-secondary-red-200: hsla(0, 78%, 62%, 0.2);
  --clr-secondary-orange-100: hsla(34, 97%, 64%, 0.15);
  --clr-secondary-orange-200: hsla(34, 97%, 64%, 0.2);
  --clr-secondary-blue-100: hsla(212, 86%, 64%, 0.15);
  --clr-secondary-blue-200: hsla(212, 86%, 64%, 0.2);

  --clr-neutral-dark-blue: hsl(234, 12%, 34%);
  --clr-neutral-grayish-blue: hsl(229, 6%, 66%);
  --clr-neutral-light-gray: hsl(0, 0%, 98%);

  --ff-primary: "Poppins", serif;

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;

  --fs-primary-100: 0.9375rem;
  --fs-primary-200: 0.95rem;
  --fs-primary-300: 1.4rem;
  --fs-primary-400: 0.8rem;
  --fs-primary-500: 0.9rem;
  --fs-primary--600: 0.73rem;
  --fs-primary--700: 2.3rem;
}

/* Global Reset & Base Styling */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

.ctn {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

.header__ctn {
  font-family: var(--ff-primary);
  padding: 4em 0;
  text-align: center;
}

.header__name {
  font-size: var(--fs-primary-300);
  font-weight: var(--fw-200);
  color: var(--clr-neutral-grayish-blue);
}

.header__name strong {
  display: block;
  color: var(--clr-neutral-dark-blue);
}

.header__text {
  font-size: var(--fs-primary-200);
  font-weight: var(--fw-200);
  margin-top: 1em;
  color: var(--clr-neutral-grayish-blue);
}

.box__ctn,
.box__item {
  display: flex;
  flex-direction: column;
}

.box__ctn {
  gap: 1.5rem;
}

.box__item {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary-400);
  padding: 2em 2em;
  background-color: var(--clr-neutral-light-gray);
  border-radius: 0.5em;
}

.box__cyan {
  border-top: 3px solid var(--clr-primary-cyan);
  box-shadow: 0 2px 4px var(--clr-secondary-cyan-100),
    0 8px 12px -4px var(--clr-secondary-cyan-200);
}

.box__red {
  border-top: 3px solid var(--clr-primary-red);
  box-shadow: 0 2px 4px var(--clr-secondary-red-100),
    0 8px 12px -4px var(--clr-secondary-red-200);
}

.box__orange {
  border-top: 3px solid var(--clr-primary-orange);
  box-shadow: 0 2px 4px var(--clr-secondary-orange-100),
    0 8px 12px -4px var(--clr-secondary-orange-200);
}

.box__blue {
  border-top: 3px solid var(--clr-primary-blue);
  box-shadow: 0 2px 4px var(--clr-secondary-blue-100),
    0 8px 12px -4px var(--clr-secondary-blue-200);
}

.box__header {
  font-weight: var(--fw-600);
  color: var(--clr-neutral-dark-blue);
}

.box__text {
  font-weight: var(--fw-400);
  margin-top: 0.5em;
  color: var(--clr-neutral-grayish-blue);
}

.box__img {
  margin-top: 3.5em;
  align-self: flex-end;
}

@media (min-width: 30rem) {

  .box__ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "cyan red"
      "orange blue";
    width: 100%;
    max-width: 1000px;
  }

  .box__cyan {
    grid-area: cyan;
  }

  .box__red {
    grid-area: red;
  }

  .box__orange {
    grid-area: orange;
  }

  .box__blue {
    grid-area: blue;
  }

  .box__item {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
  }

  .box__header {
    font-size: var(--fs-primary-500);
    text-align: center;
  }

  .box__text {
    text-align: center;
  }

  .box__img {
    padding: 0;
    margin-top: 3.5em;
    align-self: center;
  }
}

@media (min-width: 60rem) and (max-width: 75rem) {

  .box__item {
    padding: 2em 2em 1em 2em;
  }

  .box__header,
  .box__text {
    text-align: left;
  }

  .box__img {
    margin-top: 2em;
    align-self: flex-end;
  }
}

@media (min-width: 75rem) {

  .header__name {
    font-size: var(--fs-primary--700);
  }

  .header__text {
    display: block;
    font-weight: var(--fw-400);
    margin: 1em auto;
    width: 550px;
  }

  .box__ctn {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "cyan red blue"
      "cyan orange blue";
    width: 100%;
    max-width: 1000px;
  }

  .box__cyan {
    grid-area: cyan;
    align-self: center;
  }

  .box__red {
    grid-area: red;
  }

  .box__orange {
    grid-area: orange;
  }

  .box__blue {
    grid__area: blue;
    align-self: center;
  }

  .box__item {
    padding: 2em;
  }

  .box__header,
  .box__text {
    text-align: left;
  }

  .box__text {
    font-size: var(--fs-primary--600);
  }

  .box__img {
    margin-top: 3em;
    align-self: flex-end;
  }
}
